@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideInFromLeft 0.5s ease-out forwards;
}

/* Vynutit vždy viditelný scrollbar */
html {
  overflow-y: scroll;
}


.slick-dots li button:before {
  color: white; /* Nastavení barvy teček na bílou */
  opacity: 0.7; /* Mírně průhledné tečky */
  font-size: 12px; /* Velikost teček */
}

.slick-dots li.slick-active button:before {
  color: white; /* Zvýraznění aktivní tečky */
  opacity: 1; /* Plná viditelnost aktivní tečky */
}


